<div style="text-align: center;">
  <h1>Your Options</h1>
  <form action="/options/save" method="post">
    <p>
      <% selected_where = cookies[:where] || "en-US" %>
      <select name="where">
        <% options.each do |friendlyname, identifier| %>
          <option value="<%= identifier %>" <%= 'selected' if selected_where == identifier %>><%= friendlyname %></option>
        <% end %>
      </select>
    </p>
    <% selected_safe_search = cookies[:safesearch] || "true" %>
    <select name="safesearch">
      <option value="true" <%= 'selected' if selected_safe_search == 'true' %>>Strict</option>
      <option value="false" <%= 'selected' if selected_safe_search == 'false' %>>Moderate</option>
    </select>
    <label for="safesearch"> SafeSearch</label>
    <%= "<br/> " * 2 %>
    <input type="submit" value="Save">
  </form>
</div>
