<%= "<br/> " * 2 %>
<h3>Results for "<%= @query%>"</h3>
<%= HTMLizer.search_form(@query) %>
<%= "<br/> " * 2 %>
<% @results.each do |result| %>
    <%= ResultTools.to_html(result) %>
<% end %>
<br/>
<%= HTMLizer.next_page(@next_page) %>
