<%= "<br/> " * 2 %>
<h3>Results for "<%= @query%>"</h3>
<form action="/results" method="get">
  <input type="text" name="query" size="40" value="<%= @query %>">
  <input type="submit" value="Search">
</form>
<%= "<br/> " * 2 %>
<% @results.each do |result| %>
    <%= ResultTools.to_html(result) %>
<% end %>
